button {
  background: #03a9f4;
  border: 0;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.box {
  background: gainsboro;
  padding: 15px;
  margin-top: 20px;
}

input {
  margin-bottom: 5px;
  border: 1px solid gray;
  padding: 5px;
}
